.item {
  overflow: hidden;
}

.item-enter {
  transition: 0.4s;
  max-height: 0;
  padding: 0 !important;
  opacity: 0;

  &.item-enter-active {
    max-height: 60px;
    padding: 0 0 20px !important;
    opacity: 1;
  }
}

.item-exit {
  transition: 0.4s;
  max-height: 60px;
  opacity: 1;

  &.item-exit-active {
    padding: 0;
    max-height: 0;
    opacity: 0;
  }
}
